.scroll-area {
  position: relative;
  box-shadow: inset 0 0 0 1px red;
  overflow: scroll;
  scrollbar-width: none;
}

.scroll-area-gutters {
  pointer-events: none;
  z-index: 1;
}

.scroll-area-gutters.absolute .horizontal-gutter {
  bottom: 12px;
  top: unset;
}

.scroll-area-gutters.absolute .vertical-gutter {
  bottom: 24px;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.scroll-area-content {
  overflow: hidden;
  min-width: 100%;
  width: fit-content;
}

.horizontal-gutter {
  position: absolute;
  background-color: green;
}

.vertical-gutter {
  position: absolute;
  background-color: green;
}

.horizontal-bar,
.vertical-bar {
  background-color: red;
  position: absolute;
  pointer-events: all;
}

.vertical-bar {
  width: 100%;
}

.horizontal-bar {
  height: 100%;
}
